html {
	scroll-behavior: smooth;
}
body {
	font: 16px/28px arial, sans-serif;
}
h1, h2 {
	width: 960px;
	text-align: center;
}
h1 {
	font-family: lobster;
}
h2 {
	font: 48px/10px lobsters;
}
p {
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
}
hr {
	margin-top: 60px;
	margin-bottom: 60px;
}
.hr {
	margin-bottom: 200px;
}
h1, .contact {
	cursor: pointer;
}

/*Top Bars*/
/*-----------------------*/
header {
	width: 960px;
	margin: auto;
}
.top-bars {
	height: 40px;
	border-bottom: 2px solid lightgray;
}

/*contact us*/
.contact {
		float: right;
		box-sizing: border-box;
}
h1 a, .contact a {
	color: black;
	text-decoration: none;
}

/*navigations*/
button {
	font-size: 16px;
	border-style: none;
	background-color: white;

}
.menuNav {
	float: left;
	box-sizing: border-box;

}
.dropbtn {
	cursor: pointer;
}
.dropdown-content {
	display: none;
}
#nv {
	margin: 10px;
	padding: 40px;
	text-decoration: none;
}
a.hover-shadow {
  transition: 0.6s;
}
.hover-shadow:hover {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 2px 10px grey;
}
.show {
	color: black;
	width: 900px;
	padding: 30px;
	display: inline-block;
	z-index: 1;
	position: fixed;
	margin-top: 20px;
	background-color: white;
}
.active {
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 2px 2px 10px red;

}

/*Main*/
/*------------------------*/
.main {
	width: 960px;
	margin: 120px auto;
}

/*introduce*/
.introduce {
	padding-top: 20px;
}

	/*hero*/
.hero	{
	height: 380px;
	margin-top: 40px;
	border-radius: 15px;
	background-size: cover;
	background-image: linear-gradient(rgba(22, 24, 29, 0.3),rgba(26, 12, 25, 0.3)), url(../images/annie-hero.jpg);
	background-position: 0px -70px;
}
#creator {
	left: 510px;
	color: white;
	bottom: -110px;
	position: absolute;
	font-size: 12px;
}
#creator a {
	color: lightblue;

}

/*List of Course*/
/*------------------------*/
.img_list {
	width: 1390px;
	margin: 10px auto;
	margin-bottom: -10px;

}
#list_course {
	width: 400px;
	height: 600px;
	margin-left: 30px;
	margin-right: 30px;
	shape-outside: border-box 1px;
}

.test1 , .test2 {
	float: left;
}
.test1 , .test2, .test3 {
	position: relative;
	margin: auto;
}
.img_source {
	text-align: center;
	clear: both;
}
#a_list {
	font-size: 12px;
	padding-left: 10px;
	margin-right: 90px;
	padding-right: 60px;
}

#c_java {
	color: white;
	font-size: 80px;
	font-family: lobster;
	text-shadow: 4px 4px black;
	z-index: 1;
	top: 250px;
	left: 30%;
	position: absolute;
}
#c_ht {
	color: white;
	left: 76%;
	top: 250px;
	position: absolute;
	z-index: 1;
	font-size: 80px;
	font-family: lobster;
	text-shadow: 4px 4px black;

}
#c_mo {
	left: 16%;
	color: white;
	top: 250px;
	z-index: 1;
	position: absolute;
	font-size: 50px;
	font-family: lobster;
	text-shadow: 4px 4px black;

}
.list_course p {
	margin-top: -90px;
	padding-bottom: 40px;
}

/*bottom-bars*/
.bottom-bars {
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	position: absolute;
	background-color: black;
}
.bottom-bars a {
	right: 10px;
	color: white;
	bottom: 10px;
	position: absolute;
}

/*detail course*/
.countainer-detail-course {
	width: 1200px;
	height: 300px;
	margin: 40px auto;
	text-align: center;
}
.countainer-detail-course p {
	text-align: justify;
}
.java-detail {
	width: 600px;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid lightgray;
	padding-right: 70px;
}
.html-detail {
	width: 500px;
	padding-left: 700px;
	padding-right: 30px;
}


/*Schedule container*/
.container-schedule {
  width: 960px;
  margin: 80px auto;
}
.container-schedule table {
  width: 100%;
  border-collapse: collapse;
}
.container-schedule td, th {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
}
#left {
  text-align: left;
}


/*tabs*/
#tabs, #tabss {
	text-align: center;
}
#tabs ul li, #tabss ul li {
	margin: 20px;
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
}
#tabs a, #tabss a {
	text-decoration: none;
	
}





