body {
	background-image: url(../images/vadim-sadovski-nlkCCijt2FE-unsplash.jpg);
	color: #2f4f4f;
	font: 13px/28px arial, sans-serif;

}

.container {
	width: 660px;
	border: 10px solid #2e4d47;
	margin: 90px auto;
	padding: 10px 30px 30px 40px;
	position: relative;
	background-image: linear-gradient(lightblue,bisque);
}

/*title*/
.contac {
	color: white;

}
.contac a {
	color: white;
	text-decoration: none;
}
.contac a:hover{
	text-shadow: 2px 2px 10px cyan;
}

/*main*/
p {
	margin-top: 30px;
	margin-bottom: 10px;
}
label {
	font-size: 15px;
}
input[type=text], input[type=email], select, textarea {
  width: 300px;
  border: 1px solid #ccc;
  resize: vertical;
  padding: 12px;
  margin-top: 6px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}
input[type=submit] {
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #04AA6D;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=checkbox] {
	margin-left: 10px;
}

strong {
	color: red;
}
select {
	width: 100%;
}

/*form*/
.all	{
	margin: 10px;
}

/*parent*/
.fname {
	float: left;
	box-sizing: border-box;
	margin-right: 20px;
}
.lname {
	float: right;
	box-sizing: border-box;
}

/*number*/
.pnum {
	float: left;
	box-sizing: border-box;
	margin-right: 20px;
}

/*email*/
.eml {
	float: right;
	box-sizing: border-box;
}

/*address*/
#address  {
	width: 100%;
}

/*other*/
#others  {
	width: 100%;
}

/* following purpose */
#agree1 {
	font-size: 12px;
}
#agree2 {
	margin-left: 0px;
}

/*follow us*/
.follow-us {
	left: 0;
	right: 0;
	width: 100%;
	height: 200px;
	position: absolute;
	background-color: black;
}
.follow-us span {
  top: 10%;
  width: 100%;
  color: white;
  position: absolute;
  font-size: 18px;
  text-align: center;
}
.fa {
	width: 60px;
  padding: 60px;
  border-radius: 50%;
}
#center {
	box-sizing: border-box;
	margin-left: 35.4%;
}
#background {
	left: 10px;
	color: white;
	bottom: 10px;
	position: absolute;
}
#background a {
	color: white;
}


